@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;1,100;1,300;1,400;1,500;1,700;1,800&display=swap');


body{

  color: #333333;
  font-family: 'Montserrat', sans-serif;
}

/* Corpo da pagina */

header{
  margin-left: auto;
  margin-right: auto;
  width: 940px;
}

.container-localizacao, .container-historia, .conatiner-lista{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

h1{
  background: url(../img/sobre-background.jpg);
  padding: 0 1em;
  margin: 0 1em;

  font-weight: 700;
}

img{
  padding: 1em 1em;
  margin: 1em;
}

h2{
  border-bottom: 2px solid #333333;
  margin-top: 50px;

  font-weight: 300;
}

p{
  padding: 0 3em;
  text-indent: 1;
  text-align: justify;

  font-weight: 300;
}

/* Imagem e titulo do galpão */
.borda-galpao{
  background-color: #F2EDED;
  border: 1px groove #CCC;

  border-radius: 10px;
  display: flex;
  justify-content: space-between;

  padding: 15px;
  margin: 30px;
}

.imagem-galpao{
  margin: 10px;
  border-radius: 5px;

}

.descricao-galpao{
  font-style: italic;
  margin-top: 10px;
  align-items: flex-end;

  display: flex;
}

/* Imagem familia Penho */

#imagem-fPenho{
  float: right;
  margin: 0 0 10px 10px;

  background-color: #F2EDED;

  border: 1px groove #CCC;
  border-radius: 10px;

  padding: 15px;
  margin: 30px;

  text-align: right;
}

#imagem-fPenho img{
  border-radius: 5px;
}

/* lista da pagina */

.conatiner-lista{
  margin-bottom: 30px;
}

/* Rodapé da pagina  */
footer{
  margin-top: 50px;
  padding: 50px 0;

  text-align: center;
}

.rodape p{
  color: #777;
  margin: 15px 0;
  padding: 15px 0;
  text-align: center;
}

.rodape img{
  margin: 10px 0;
  padding: 10px 0;
  width: 94px;
}
