
/* ============= Cabeçalho da pagina ===================== */

.container{
  margin: 0 auto;

  position: relative;

  width: 100%;
  max-width: 940px;
}

.titulo-principal{
  position: static;

  top: 2rem;
  left: 5rem;
}

.sacola{
  background-image: url(../img/sacola.png);
  background-repeat: no-repeat;
  background-position: top right;

  font-size: 1.4rem;
  padding-right: 3.5rem;
  padding-top: 0.8rem;

  position: absolute;
  top: 0;
  right: 0;

  text-align: right;
  width: 140px;
}

.menu-mirror-fashion{
  font-size: 1.5rem;

  position: absolute;
  bottom: 0;
  right: 0;
}

.menu-mirror-fashion ul li{
  display: inline;

  padding: 0 0.5rem;
  margin-left: 2rem;
}

.item-menu{
  color: #036;
  text-decoration: none;

}

/* ============= Menu da pagina e botão de busca ===================== */

.busca,
.menu-departamentos{
  float: left;

  background-color: #DCDCDC;

  font-weight: 700;
  text-transform: uppercase;

  margin-right: .9rem;

  width: 230px;
}

.menu-departamentos{
  clear: left;

  margin-top: 1rem;
  padding-bottom: 1rem;
}

.busca h2,
.busca form,
.menu-departamentos h2{
  margin: 1rem;
}


.menu-departamentos li{
  background-color: white;

  margin-bottom: 0.1rem;
  padding: 0.5rem 1rem;

  /*display: block;
  vertical-align: top; */
}

.menu-departamentos a{
  color: #333333;
  text-decoration: none;
  
}

.busca input[type=search]{
  width: 170px;
}

.destaque{
  margin-top: 1rem;
}

/* =============  Produtos da pagina ===================== */

.painel{
  margin: 1rem 0;
  padding: 1rem;
  
  width: 445px;
}

.novidades{
  float: left;
}

.mais-vendidos{
  float: right;
}

.painel li{
  display: inline-block;
  vertical-align: top;

  width: 140px;
  
  margin: .2rem;
  padding-bottom: 1rem;
}

.painel h2{
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;

  margin-bottom: 1rem;
}

.painel a{
  color: #333;

  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
}

.novidades{
  background-color: #F5DCDC;
}

.mais-vendidos{
  background-color: #DCDCF5;
}
